- if @bins.blank?
  = "No bins to process."
- else
  %table.table.table-striped.condensed.datatable{"id" => "bins"}
    %thead
      %tr
        %th= 'Barcode'
        %th= '# Items'
        %th= 'Updated'
        %th= ''
    %tbody
      - @bins.each do |bin|
        %tr
          %td= bin.barcode
          %td= bin.matches.count
          %td= bin.updated_at.strftime("%m-%d-%Y %I:%M%p")
          %td= button_to 'Process', show_bin_path(:id => bin.id), method: :get, class: 'btn btn-primary'
  :javascript
      $(document).ready(function() {
        window.table = $('#bins').DataTable({ "stateSave": true });
      } );
