- if @bin.items.blank?
  = "Bin #{@bin.barcode} is empty."
- else
  = @bin.barcode
  %br
  %table.table.table-striped.condensed.datatable{"id" => "matches"}
    %thead
      %tr
        %th= 'User'
        %th= 'Barcode'
        %th= 'Title'
        %th= 'Author'
        %th= ''
    %tbody
      - @bin.matches.each do |match|
        %tr
          %td= match.batch.user.username
          %td= match.item.barcode
          %td= match.item.title
          %td= match.item.author
          %td
            = form_tag bin_remove_path do |f|
              = hidden_field_tag :match_id, match.id
              .actions
                = submit_tag 'Done', class: 'btn btn-primary'
  :javascript
    $(document).ready(function() {
      window.table = $('#matches').DataTable();
    } );
