= form_tag deaccessioning_path, method: :get do |f|
  = render 'shared/search_form'
= form_tag deaccessioning_req_path do |f|
  = submit_tag 'Create Request(s)', class: 'btn pull-right btn-primary'
  %hr
  = "#{@total} results found"
  .itemsearch
  = label_tag :comment, "Comment"
  = text_field_tag :comment, params[:comment]
  = label_tag :disposition
  = hidden_field_tag :criteria, @criteria
  = hidden_field_tag :criteria_type, @criteria_type
  = collection_select nil, :disposition_id, Disposition.where(active: true), :id, :code, {:prompt => 'Select a Disposition'}
  %table.table.table-striped.condensed
    %thead
      %tr
        %th.add
          Select All
          = check_box_tag 'selectAll', 'selectAll', !@params[:selectAll].blank? ? @params[:selectAll] : false
        %th= 'Barcode'
        %th= 'Bib Number'
        %th= 'ISBN/ISSN'
        %th= 'Title'
        %th= 'Author'
        %th= 'Chron'
        %th= 'Tray'
        %th= 'Shelf'
        %th= 'Condition'
    %tbody
      - @results.each do |item|
        %tr
          %td= check_box_tag "items[#{item.id}]", "items[#{item.id}]", !@params[:items].blank? ? @params[:items]["#{item.id}"] : false, class: "item"
          %td= link_to item.barcode, item_detail_path(item.barcode)
          %td= item.bib_number
          %td= item.isbn_issn
          %td= item.title
          %td= item.author
          %td= item.chron
          %td= item.tray.present? ? item.tray.barcode : ''
          %td= item.shelf.present? ? item.shelf.barcode : ''
          %td= item.conditions.present? ? item.conditions.join(", ") : ''
  - if !@results.blank?
    = paginate @results
:javascript
  $(document).ready(function() {
    $("#selectAll").click(function(event) {
      event.stopPropagation();
      $(".item").prop("checked", $("#selectAll").prop("checked")).each(function() {
        checkboxChanged(this);
      });
    });

    $("form").on("change", ".item", function() {
      checkboxChanged(this);
    });
  });
