.scan
  = form_tag count_tray_item_path(@tray) do |f|
    - if @tray.errors.any?
      #error_explanation
        %h2= "#{pluralize(@tray.errors.count, "error")} prohibited this tray from being saved:"
        %ul
          - @tray.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :tray_count, "Items in Tray"
      = f.text_field :tray_count, @tray_count,
        required: true, autofocus: true, placeholder: 'Enter a number of items'
    .actions
      = f.submit 'Validate', class: 'btn btn-primary'
%br
