- if @validation_count_items == 2
  = link_to "OK", create_issue_path(tray_count: @tray_count), method: :get,
    class: 'btn pull-left btn-primary'
- else
  .scan
    = form_tag count_tray_item_path(@tray) do |f|
      - if @tray.errors.any?
        #error_explanation
          %h2= "#{pluralize(@tray.errors.count, |
           "error")} prohibited this tray from being saved:" |
          %ul
            - @tray.errors.full_messages.each do |msg|
              %li= msg
      .field
        = label_tag :tray_count, "Items in Tray"
        = text_field_tag :tray_count, nil,
          required: true, autofocus: true,
            placeholder: 'Enter a number of items'
      = hidden_field_tag :validation_count_items, @validation_count_items
      .actions
        = submit_tag 'Enter', class: 'btn btn-primary'
