- if @issues.blank?
  %span
    = "There are no current outstanding issues."
- else
  %table.table.table-striped.condensed.datatable{"id" => "issues"}
    %thead
      %tr
        %th= 'Barcode'
        %th= 'Message'
        %th= 'Created'
        %th= 'User'
        %th= ''
    %tbody
      - @issues.each do |issue|
        %tr
          %td= link_to issue.barcode,
            show_tray_item_path(Tray.find_by_barcode(issue.barcode).id)
          %td= issue.message
          %td= issue.created_at.strftime("%m-%d-%Y %I:%M%p")
          %td= issue.user ? issue.user.username : "system"%td
          %td
            = form_tag resolve_tray_issue_path do |f|
              = hidden_field_tag :issue_id, issue.id
              .actions
                = submit_tag 'Resolve', class: 'btn btn-primary', id: "issue-#{issue.id}"
  :javascript
      $(document).ready(function() {
        var columns = {
          barcode: 0,
          message: 1,
          createdDisplay: 2,
          user: 3,
          action: 4
        }
        window.table = $('#issues').DataTable({
          stateSave: true,
          stateDuration: 60 * 5,
          columnDefs: [
            {
              targets: columns.createdDisplay,
              orderData: [columns.createdDisplay],
            }
          ],
        });
        $('#issues').width("100%");
        $('div.dataTables_filter input').focus();
      } );
