= @tray.barcode
%br
= form_tag associate_tray_path(@tray) do |f|
  - if @tray.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tray.errors.count, "error")} prohibited this tray from being saved:"
      %ul
        - @tray.errors.full_messages.each do |msg|
          %li= msg

  .field
    = label_tag :barcode
    = text_field_tag :barcode
  .actions
    = submit_tag 'Save', class: 'btn btn-primary'
%br
= @tray.shelved ? "Shelved" : "Unshelved"
%br
= @tray.shelf.nil? ? "STAGING" : "Location: #{@tray.shelf.barcode}"
%br
- if !@tray.shelf.nil?
  - if @tray.shelved
    = form_tag unshelve_tray_path(@tray) do |f|
      .actions
        = submit_tag 'Unshelve', class: 'btn btn-primary'
  - else
    = form_tag shelve_tray_path(@tray) do |f|
      .actions
        = submit_tag 'Shelve', class: 'btn btn-primary'
  %br
  = form_tag dissociate_tray_path(@tray) do |f|
    .actions
      = submit_tag 'DISSOCIATE', class: 'btn btn-primary'
%br
= button_to "Done", trays_path, method: :get, class: 'btn pull-right btn-primary'
