%h4= @tray.barcode

- if (@tray.shelf.nil?)
  .scan
    = form_tag associate_tray_path(@tray) do |f|
      - if @tray.errors.any?
        #error_explanation
          %h2= "#{pluralize(@tray.errors.count, "error")} prohibited this tray from being saved:"
          %ul
            - @tray.errors.full_messages.each do |msg|
              %li= msg

      .field
        = label_tag :barcode, "Shelf"
        = text_field_tag :barcode, nil, autofocus: "autofocus"
      .actions
        = submit_tag 'Save', class: 'btn btn-primary'
- elsif (!@tray.shelf.nil? and !@tray.shelved)
  .scan
    = form_tag shelve_tray_path(@tray) do |f|
      - if @tray.errors.any?
        #error_explanation
          %h2= "#{pluralize(@tray.errors.count, "error")} prohibited this tray from being saved:"
          %ul
            - @tray.errors.full_messages.each do |msg|
              %li= msg

      .field
        = label_tag :barcode, "Shelf"
        = text_field_tag :barcode, nil, autofocus: "autofocus"
      .actions
        = submit_tag 'Shelve', class: 'btn btn-primary'
%p= @tray.shelved ? "Shelved" : "Unshelved"
%p= @tray.shelf.nil? ? "STAGING" : "Location: #{@tray.shelf.barcode}"
- if !@tray.shelf.nil?
  - if @tray.shelved
    = form_tag unshelve_tray_path(@tray) do |f|
      .actions
        = submit_tag 'Pull', class: 'btn btn-primary pull-left', id: 'pull'
  = form_tag dissociate_tray_path(@tray) do |f|
    .actions
      = submit_tag 'Unassign', class: 'btn btn-primary pull-right', id: 'unassign'
%br
%hr
= button_to "Cancel", trays_path, method: :get, class: 'btn pull-left btn-primary', :form => { :id => "cancel" }
= button_to "Done", trays_path, method: :get, class: 'btn pull-right btn-primary'
