= @tray.barcode
%br
= form_tag associate_tray_item_path(@tray) do |f|
  - if @tray.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tray.errors.count, "error")} prohibited this tray from being saved:"
      %ul
        - @tray.errors.full_messages.each do |msg|
          %li= msg

  .field
    = label_tag :thickness
    = select_tag :thickness, options_for_select(Array(1..10)), include_blank: true, onchange: "document.getElementById('barcode').focus()".html_safe
  .field
    = label_tag :barcode, "Item"
    = text_field_tag :barcode
  .actions
    = submit_tag 'Save', class: 'btn btn-primary'
%br
= button_to "Done", trays_items_path, method: :get, class: 'btn pull-right btn-primary'
%table.table.table-striped.condensed{"data-toggle" => "table"}
  %thead
    %tr
      %th= 'Barcode'
      %th= 'Title'
      %th= 'Author'
      %th= 'Chron'
      %th= 'Dissociate'
  %tbody
    - @tray.items.each do |item|
      %tr
        %td= item.barcode
        %td= item.title
        %td= item.author
        %td= item.chron
        %td
          = form_tag dissociate_tray_item_path(@tray) do |f|
            = hidden_field_tag :item_id, item.id
            .actions
              = submit_tag 'Remove', class: 'btn btn-primary'

