.row
  = form_tag search_path, method: :get do |f|
    %div.col-xs-12.col-md-8
      .input-group
        = select_tag :criteria_type, options_for_select(SearchItems::CRITERIA_TYPES), include_blank: true
        = text_field_tag :criteria
    %div.col-xs-6.col-md-4
      .input-group
        .input-group
          = label_tag :condition_bool_any, "Any"
          = radio_button_tag :condition_bool, :any
          = label_tag :condition_bool_all, "All"
          = radio_button_tag :condition_bool, :all
        %ul
          - Item::CONDITIONS.each do |condition|
            %li
              = label_tag condition
              = check_box_tag "conditions[#{condition}]"
    .actions
      = submit_tag 'Search', class: 'btn pull-right btn-primary'
%hr
= "#{@result.count} results found"
%table.table.table-striped.condensed
  %thead
    %tr
      %th= 'Barcode'
      %th= 'Bib Number'
      %th= 'ISBN'
      %th= 'ISSN'
      %th= 'Title'
      %th= 'Author'
      %th= 'Chron'
      %th= 'Tray'
      %th= 'Shelf'
      %th= 'Condition'
  %tbody
    - @result.each do |item|
      %tr
        %td= item.barcode
        %td= item.bib_number
        %td= item.isbn
        %td= item.issn
        %td= item.title
        %td= item.author
        %td= item.chron
        %td= item.tray.present? ? item.tray.barcode : ''
        %td= item.shelf.present? ? item.shelf.barcode : ''
        %td= item.conditions.join(", ")

