%h1 Listing dispositions

%table
  %tr
    %th Code
    %th Description
    %th Active
    %th
    %th

  - @dispositions.each do |disposition|
    %tr
      %td= disposition.code
      %td= disposition.description
      %td= disposition.active
      %td= link_to 'Show', disposition
      %td= link_to 'Edit', edit_disposition_path(disposition)

%br

= link_to 'New Disposition', new_disposition_path
