%p#notice= notice

%p
  %b Code:
  = @disposition.code
%p
  %b Description:
  = @disposition.description
%p
  %b Active:
  = @disposition.active

= button_to 'Edit', edit_disposition_path(@disposition), method: :get, class: 'btn btn-primary'
\|
= button_to 'Cancel', dispositions_path, method: :get, class: 'btn btn-danger'
