.itemsearch
  %table.table.table-bordered.table-striped.condensed
    %thead
      %tr.info
        %th.col-md-2= ' '
        %th.col-md-5
        %th.col-md-5
    %tbody
      %tr
        %td= 'Bib Number'
        %td
        %td
      %tr
        %td= 'Title'
        %td
        %td
      %tr
        %td= 'Author'
        %td
        %td
      %tr
        %td= 'ISBN/ISSN'
        %td
        %td
      %tr
        %td= 'Bib Number'
        %td
        %td
