- if @issues.blank?
  %span
    = "There are no current outstanding issues."
- else
  %table.table.table-striped.condensed.datatable{"id" => "issues"}
    %thead
      %tr
        %th= 'User'
        %th= 'Barcode'
        %th= 'Message'
        %th= 'Created'
        %th= ''
    %tbody
      - @issues.each do |issue|
        %tr
          %td= issue.user.username
          %td= issue.barcode
          %td= t "issues.issue_type.#{issue.issue_type}"
          %td= issue.created_at
          %td
            = form_tag resolve_issue_path do |f|
              = hidden_field_tag :issue_id, issue.id
              .actions
                = submit_tag 'Resolve', class: 'btn btn-primary', id: "issue-#{issue.id}"
  :javascript
      $(document).ready(function() {
        window.table = $('#issues').DataTable();
        $('div.dataTables_filter input').focus();
      } );
