%h2 Scan Item/Tray
= form_tag item_restock_path(@item) do |f|
  .scan
    .field
      = label_tag :barcode, "Item or Tray"
      = text_field_tag :barcode, nil, autofocus: "autofocus"
    .actions
      = submit_tag 'Scan', class: 'btn btn-primary'

%p
  Shelf Location:
  = (@item.tray.nil? ? 'STAGING' : (@item.tray.shelf.nil? ? 'STAGING' : @item.tray.shelf.barcode))
%p
  Tray Number:
  = (@item.tray.nil? ? 'STAGING' : @item.tray.barcode)
%p
  Title:
  = @item.title
%p
  Author:
  = @item.author
%p
  Chron:
  = @item.chron
%br
