= form_tag scan_bin_batch_path do |f|
  .field
    = label_tag :barcode, "Bin"
    = text_field_tag :barcode, nil, autofocus: "autofocus"
  .actions
    = submit_tag 'Save', class: 'btn pull-left btn-primary'
    = submit_tag 'Skip', class: 'btn pull-right btn-warning'
%section.req
  .request= "Request data"
  .req_title= "Title: #{@match.request.title}"
  .req_author= "Author: #{@match.request.author}"
  .req_article= "Article Title: #{@match.request.article_title}"
%section.container
  .title= "Title: #{@match.item.title}"
  .author= "Author: #{@match.item.author}"
  .chron= "Chron: #{@match.item.chron}"
  .barcode= "Barcode: #{@match.item.barcode}"
  %br
  .bin= "Place in bin: #{@match.request.bin_type}"



