.row.filter
  .col-md-8
    = select_tag :source, options_for_select([["Aleph", "aleph"], ["ILLiad", "illiad"],["Deaccessioning","deaccessioning"]]), id: "source-select"
    = select_tag :req_type, options_for_select([["Loan", "loan"], ["Scan", "scan"],["Deaccessioning","deaccessioning"]]), id: "req-type-select"
    = label_tag :rapid, "ILLiad Rapid Requests"
    = check_box_tag :rapid, 1, false, id: "rapid-check-box"
  .col-md-4
    .pull-right
      = link_to sync_requests_path, method: :post, class: 'btn btn-primary' do
        %span.glyphicon.glyphicon-refresh
        = "Refresh"
= form_tag create_batch_path do |f|
  %table.table.table-striped.condensed.datatable{"id" => "requests"}
    %thead
      %tr
        %th.add
          'Add to Batch'
          = check_box_tag 'selectAll'
        %th= 'Rapid Request Indicator'
        %th= 'Request Source'
        %th= 'Request Type'
        %th= 'Request Date/Time'
        %th= 'Request Title (Book or Journal)'
        %th= 'Request Author'
        %th= 'Request Description'
        %th= 'Request Barcode'
        %th= 'Request ISSN/ISBN'
        %th= 'Request Bib Number'
        %th= 'Remove Request'
    %tbody
      - @data.each do |row|
        %tr{"id" => "request-" + row['id'].to_s, "data-items" => row['item_data'].to_json, "data-error" => row['error'] }
          %td
            %div{class: "details-control btn btn-primary", "id" => 'request_' + row['id'].to_s}= 'Results'
          %td= row['rapid']
          %td= row['source']
          %td= row['del_type']
          %td= row['requested']
          %td= row['title']
          %td= row['author']
          %td= row['description']
          %td
            - unless row['barcode'].blank?
              = link_to row['barcode'], item_detail_path(row['barcode'])
          %td= row['isbn_issn']
          %td= row['bib_number']
          %td
            .actions
              = link_to "Remove", remove_request_path(row["id"]), method: :delete, data: { confirm: 'Remove request?' }, class: 'btn btn-primary'
  .actions
    = submit_tag 'Save', class: 'btn btn-primary'
:javascript
  // Test a specific instance of data table settings to determine if
  // we should skip applying the top level request filters.
  // Returns true if "useRequestFilters" is not set on the instance
  function skipRequestFilters(settings){
    var api = new $.fn.dataTable.Api( settings );
    return !settings.oInit.useRequestFilters;
  }

  // Register a state load function
  $.fn.dataTable.Api.register( 'state.load()', function () {
    return this.iterator( 'table', function ( s ) {
        // Force the state load.
        s.oApi._fnLoadState(s, s.oInit);
        // We need to check for which ones should be hidden in the loaded state...
        var hidden_cols = [];
        jQuery.each(s.oLoadedState.columns, function(i, column) {
            if (!column.visible) {
                hidden_cols.push(i);
            }
        });
        // Set them all to be visible...
        s.oInstance.DataTable().columns().visible(true);
        // ...then hide the ones that should be hidden:
        s.oInstance.DataTable().columns(hidden_cols).visible(false);
    });
  });


  // Add filter by source to all DataTables
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
      if(skipRequestFilters(settings)) {
        return true;
      }

      var select_source = $('#source-select').val().toLowerCase();
      var data_source = data[2].toLowerCase();
      if (select_source == data_source) {
        return true;
      }
      return false;
    }
  );

  // Add filter by request type to all DataTables
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
      if(skipRequestFilters(settings)) {
        return true;
      }

      var select_req = $('#req-type-select').val().toLowerCase();
      var data_req = data[3].toLowerCase();
      if (select_req == data_req) {
        return true;
      }
      return false;
    }
  );

  // Add filter by rapid requests to all DataTables
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
      if(skipRequestFilters(settings)) {
        return true;
      }

      var checkbox_rapid = $('#rapid-check-box').is(':checked');
      var data_rapid = data[1].toLowerCase();
      if (checkbox_rapid) {
        if (data_rapid == "yes") {
          return true;
        } else {
          return false;
        }
      } else {
        return true;
      }
    }
  );

  $(document).ready(function() {
    window.table = $('#requests').DataTable( {
        "useRequestFilters": true,
        "dom": 'T<"clear">lfrtip',
        "stateSave": true,
        // pull in the saved custom params
        "stateSaveParams": function (settings, data) {
          data.columns[1].search.search = rapidValue();
          data.columns[2].search.search = $('#source-select').val();
          data.columns[3].search.search = $('#req-type-select').val();
        },
        // set the form elements according to the value of the saved
        // custom params
        "stateLoadParams": function (settings, data) {
          $('#rapid-check-box').prop("checked", data.columns[1].search.search == "yes");
          $('#source-select').val(data.columns[2].search.search ? data.columns[2].search.search : "aleph");
          $('#req-type-select').val(data.columns[3].search.search ? data.columns[3].search.search : "loan");
        },
        "tableTools": {
          "aButtons": [ {
                    "sExtends": "print",
                    "sTitle": "",
                    "sInfo": "",
                    "sMessage": "",
                    "fnComplete": function ( nButton, oConfig, oFlash, sFlash ) {
                        alert('Use Browser Print feature. When done, hit "esc" on your keyboard to return to IMS.');

                        $('.ui-dialog,.ui-widget-overlay').addClass('doNotPrint');
                    }
                } ]
        },
        "drawCallback": function( settings ) {
          addHandler();
        }
    } );

    $("#selectAll").click(function(event) {
      event.stopPropagation();
      $(".item").prop("checked", $("#selectAll").prop("checked")).each(function() {
        checkboxChanged(this);
      });
    });

    $("#source-select, #req-type-select, #rapid-check-box").change( function() {
      table.state.save();
      table.state.load();
      table.draw();
    });

    $("form").on("change", ".item", function() {
      checkboxChanged(this);
    });
  });

  function rapidValue() {
      if ($('#rapid-check-box').is(':checked')) {
        return 'yes';
      } else {
        return 'no';
      }
  }

  function addHandler() {
    $(".details-control").unbind('click');
    $(".details-control").click(function() {
      var tr = $(this).closest('tr');
      var row = table.row( tr );

      // if this is the first click, the child row needs to be created
      if(!row.child()) {
        createChild(tr, row);
      }

      if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      }
      else {
        row.child.show();
        tr.addClass('shown');
      };
    });
  };

  var resultsColumns = {
    "status": 0,
    "shelf": 1,
    "tray": 2,
    "title": 3,
    "author": 4,
    "chron": 5,
    "chronSort": 6,
  }

  function createChild(tr, parent) {
    var child = "";
    if(tr.data("error")) {
      child = "<div class='alert-danger'>" + tr.data("error") + "</div>";
    }
    child += format(tr);
    child = "<div class='batch-request-results'>" + child + "</div>";
    // Add two child rows and hide the first to prevent zebra striping from
    //  coloring the child row differently than the parent row
    var rows = ["", child]
    parent.child(rows);
    var children = parent.child();
    children.first().hide();
    var resultsRow = children.last()
    resultsRow.addClass('batch-request-results-row');

    // Add datatable to the child table
    var options = {
      "dom": "<'row'<'col-sm-12'fl>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
      "useRequestFilters": false,
      "searching": false,
      "paging": false,
      "ordering": true,
      "info": false,
      "order": [[ resultsColumns.chron, "asc" ]], // Sort by chron by default
      "columnDefs": [
        {
          targets: resultsColumns.chron,
          orderData: [resultsColumns.chronSort],
        },
        {
          targets: resultsColumns.chronSort,
          searchable: false,
          visible: false,
        },
      ],
    }

    if (tr.data('items').length > 10) {
      options.searching = true;
      options.paging = true;
      options.info = true;
    }
    var resultsTable = resultsRow.find('table');
    resultsTable.DataTable(options);
    resultsTable.width("100%");
  }

  function format(tr) {
    json = tr.data('items');
    if (json.length < 1) {
      str = "No results.";
    }
    else {
      str = "<table id='" + tr.attr('id') + "-items' class='table table-striped condensed datatable'>";

      str += "<thead>";
      var headerData = {
        "status": "Add to Batch",
        "shelf": "Shelf",
        "tray": "Tray",
        "title": "Title",
        "author": "Author",
        "chron": "Chron",
        "chronSort": "Chron Sort",
      };
      var columns = mapColumns(headerData);
      str += "<tr><th>" + columns.join("</th>\n<th>") + "</th></tr>";
      str += "</tr>";
      str += "</thead>";

      str += "<tbody>";
      $.each(json, function( index, item ) {
        var rowData = {
          "shelf": item.shelf,
          "tray": item.tray,
          "title": item.title,
          "author": item.author,
          "chron": item.chron,
        };
        if (item.chron) {
          // Find the first number in the chron string and use that value to sort
          rowData.chronSort = item.chron.replace(/^[^\d]*([\d]+)[^\d]*.*$/, "$1");
        } else {
          rowData.chronSort = "";
        }
        switch(item['status'])
        {
          case 'stocked':
            rowData.status = "<input class='item' type='checkbox' id='"+item['id']+"' value='"+item['id']+"' />";
            break;
          case 'unstocked':
            rowData.status = "<span style='color: red'>Unstocked</span>";
            break;
          case 'shipped':
            rowData.status = "<span style='color: red'>Shipped</span>";
            break;
          default:
            rowData.status = "<span style='color: red'>Unknown</span>"
            break;
        }
        var columns = mapColumns(rowData);
        str += "<tr><td>" + columns.join("</td>\n<td>") + "</td></tr>";
      } );
      str += "</tbody>";

      str += "</table>";
    }
    return str;
  };

  function mapColumns(rowData) {
    var columns = [];
    for (var key in resultsColumns) {
      columns[resultsColumns[key]] = "" + rowData[key];
    }
    return columns;
  }

  function checkboxChanged(checkbox) {
    var $checkbox = $(checkbox);
    console.log(checkbox);
    var $form = $checkbox.parents("form");
    var hiddenID = "hidden-" + $checkbox.attr("id");
    var $hiddenField = $form.find("#" + hiddenID);
    if ($checkbox.prop("checked")) {
      if ($hiddenField.length == 0) {
        $hiddenField = $("<input type='hidden' name='batch[]'>");
        $hiddenField.attr("id", hiddenID).attr("value", $checkbox.attr("value"));
        $form.append($hiddenField);
      }
    } else {
      $hiddenField.remove();
    }
  }
