= select_tag :source, options_for_select([["Aleph", "aleph"], ["ILLiad", "illiad"]]), onchange: "table.draw();"
= select_tag :req_type, options_for_select([["Checkout", "checkout"], ["Scan", "scan"]]), onchange: "table.draw();"
= label_tag :rapid, "ILLiad Rapid Requests"
= check_box_tag :rapid, 1, false, onchange: "table.draw();"
%table.table.table-striped.condensed.datatable{"id" => "requests"}
  %thead
    %tr
      %th= 'Source'
      %th= 'Request Type'
      %th= 'Rapid Request?'
      %th= 'Shelf'
      %th= 'Tray'
      %th= 'Title'
      %th= 'Author'
      %th= 'Chron'
  %tbody
    - @data.each do |row|
      %tr
        %th= row['source']
        %th= row['req_type']
        %th= row['rapid']
        %th= row['shelf']
        %th= row['tray']
        %th= row['title']
        %th= row['author']
        %th= row['chron']
:javascript
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
      var select_source = $('#source').val().toLowerCase();
      var data_source = data[0].toLowerCase();
      if (select_source == data_source) {
        return true;
      }
      return false;
    }
  );
  $(document).ready(function() {
    window.table = $('#requests').dataTable( {
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
          "aButtons": [ "print" ]
        }        
    } );
  } );

