= select_tag :source, options_for_select([["Aleph", "aleph"], ["ILLiad", "illiad"]]), onchange: "table.draw();"
= select_tag :req_type, options_for_select([["Checkout", "checkout"], ["Scan", "scan"]]), onchange: "table.draw();"
= label_tag :rapid, "ILLiad Rapid Requests"
= check_box_tag :rapid, 1, false, onchange: "table.draw();"
= form_tag create_batch_path do |f|
  %table.table.table-striped.condensed.datatable{"id" => "requests"}
    %thead
      %tr
        %th
          'Add to Batch'
          = check_box_tag 'selectAll'
        %th= 'Source'
        %th= 'Request Type'
        %th= 'Rapid Request?'
        %th= 'Shelf'
        %th= 'Tray'
        %th= 'Title'
        %th= 'Author'
        %th= 'Chron'
    %tbody
      - @data.each do |row|
        %tr
          %th= check_box_tag 'batch[]', row['id'], false, class: 'item'
          %th= row['source']
          %th= row['req_type']
          %th= row['rapid']
          %th= row['shelf']
          %th= row['tray']
          %th= row['title']
          %th= row['author']
          %th= row['chron']
  .actions
    = submit_tag 'Save', class: 'btn btn-primary'
:javascript
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
      var select_source = $('#source').val().toLowerCase();
      var data_source = data[1].toLowerCase();
      if (select_source == data_source) {
        return true;
      }
      return false;
    }
  );
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
      var select_req = $('#req_type').val().toLowerCase();
      var data_req = data[2].toLowerCase();
      if (select_req == data_req) {
        return true;
      }
      return false;
    }
  );
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
      var checkbox_rapid = $('#rapid').is(':checked');
      var data_rapid = data[1].toLowerCase();
      if (checkbox_rapid) {
        if (data_rapid == "yes") {
          return true;
        } else {
          return false;
        }
      } else {
        return true;
      }
    }
  );
  $(document).ready(function() {
    window.table = $('#requests').DataTable( {
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
          "aButtons": [ "print" ]
        }        
    } );
    $("#selectAll").click(function() {
      $(".item").prop("checked", $("#selectAll").prop("checked"));
    });
  } );

