= select_tag :source, options_for_select([["Aleph", "aleph"], ["ILLiad", "illiad"]]), onchange: "table.draw();"
= select_tag :req_type, options_for_select([["Loan", "loan"], ["Scan", "scan"]]), onchange: "table.draw();"
= label_tag :rapid, "ILLiad Rapid Requests"
= check_box_tag :rapid, 1, false, onchange: "table.draw();"
= form_tag create_batch_path do |f|
  %table.table.table-striped.condensed.datatable{"id" => "requests"}
    %thead
      %tr
        %th
          'Add to Batch'
          = check_box_tag 'selectAll'
        %th= 'Rapid Request Indicator'
        %th= 'Request Source'
        %th= 'Request Type'
        %th= 'Request Date/Time'
        %th= 'Request Title (Book or Journal)'
        %th= 'Request Author'
        %th= 'Request Description'
        %th= 'Request Barcode'
        %th= 'Request ISSN/ISBN'
        %th= 'Request Bib Number'
        %th= 'Remove Request'
    %tbody
      - @data.each do |row|
        %tr{"data-params" => row['item_data'].to_json}
          %td{class: "details-control btn btn-primary", "id" => 'request_' + row['id'].to_s}= 'Results'
          %td= row['rapid']
          %td= row['source']
          %td= row['del_type']
          %td= row['requested']
          %td= row['title']
          %td= row['author']
          %td= row['description']
          %td= row['barcode']
          %td= row['isbn_issn']
          %td= row['bib_number']
          %td
            = form_tag remove_request_path do |f|
              = hidden_field_tag :request_id, row['id']
              .actions
                = submit_tag 'Remove', data: { confirm: 'Remove request?' }, class: 'btn btn-primary'
  .actions
    = submit_tag 'Save', class: 'btn btn-primary'
:javascript
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
      var select_source = $('#source').val().toLowerCase();
      var data_source = data[2].toLowerCase();
      if (select_source == data_source) {
        return true;
      }
      return false;
    }
  );
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
      var select_req = $('#req_type').val().toLowerCase();
      var data_req = data[3].toLowerCase();
      if (select_req == data_req) {
        return true;
      }
      return false;
    }
  );
  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
      var checkbox_rapid = $('#rapid').is(':checked');
      var data_rapid = data[1].toLowerCase();
      if (checkbox_rapid) {
        if (data_rapid == "yes") {
          return true;
        } else {
          return false;
        }
      } else {
        return true;
      }
    }
  );
  $(document).ready(function() {
    window.table = $('#requests').DataTable( {
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
          "aButtons": [ {
                    "sExtends": "print",
                    "sTitle": "",
                    "sInfo": "",
                    "sMessage": "",
                    "fnComplete": function ( nButton, oConfig, oFlash, sFlash ) {
                        alert('Use Browser Print feature. When done, hit "esc" on your keyboard to return to IMS.');

                        $('.ui-dialog,.ui-widget-overlay').addClass('doNotPrint');
                    }
                } ]
        },
        "drawCallback": function( settings ) {
          addHandler();
        }
    } );
    $("#selectAll").click(function() {
      $(".item").prop("checked", $("#selectAll").prop("checked"));
    } );
  } );
  function addHandler() {
    $("td.details-control").unbind('click');
    $("td.details-control").click(function() {
      var tr = $(this).closest('tr');
      var row = table.row( tr );
      console.log("my row: %o", tr)
      if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      }
      else {
        // Open this row
        row.child( format(tr.data("params")) ).show();
        tr.addClass('shown');
      };
    } );
  };
  function format(json) {
    console.log("my object: %o", json)
    if (json.length < 1) {
      str = "No results.";
    }
    else {
      str = "<table class='table table-striped condensed datatable'>";
      str += "<th>Add to Batch</th>";
      str += "<th>Shelf</th>";
      str += "<th>Tray</th>";
      str += "<th>Title</th>";
      str += "<th>Author</th>";
      str += "<th>Chron</th>";
      $.each(json, function( index, item ) {
        str += "<tr>";
        if (item['status'] == 'stocked') {
          str += "<td><input class='item' type='checkbox' name='batch[]' id='"+item['id']+"' value='"+item['id']+"' /></td>";
        }
        if (item['status'] == 'unstocked') {
          str += "<td><span style='color: red'>Unstocked</span></td>";
        }
        if (item['status'] == 'shipped') {
          str += "<td><span style='color: red'>Shipped</span></td>";
        }
        str += "<td>"+item['shelf']+"</td>";
        str += "<td>"+item['tray']+"</td>";
        str += "<td>"+item['title']+"</td>";
        str += "<td>"+item['author']+"</td>";
        str += "<td>"+item['chron']+"</td>"; 
        str += "</tr>";
      } );
      str += "</table>";
    }
    return str;
  };

