%table.table.table-striped.condensed.datatable{"id" => "data"}
  %thead
    %tr
      %th= "Request"
      %th= "Item"
  %tbody
    %tr
      %td= @match.request.title
      %td= @match.item.title
    %tr
      %td= @match.request.author
      %td= @match.item.author
    %tr
      %td= @match.request.article_title
      %td= "-"
    %tr
      %td= "-"
      %td= @match.item.chron
    %tr
      %td= "-"
      %td= @match.item.shelf.barcode
    %tr
      %td= "-"
      %td= @match.item.tray.barcode
    %tr
      %td= "-"
      %td= @match.item.barcode
%br
= form_tag item_batch_path do |f|
  .field
    = label_tag :barcode, "Item"
    = text_field_tag :barcode, nil, autofocus: "autofocus"
  .actions
    = submit_tag 'Scan', class: 'btn btn-primary'
    = submit_tag 'Skip', class: 'btn pull-right btn-warning'


