= form_tag(item_batch_path, {"class" => "form-inline"}) do |f|
  .form-group
    .field
      = label_tag :barcode, "Item"
      = text_field_tag :barcode, nil, autofocus: "autofocus"
      = hidden_field_tag :match_id, @match.id
  .form-group
    .actions
      = submit_tag 'Save', class: 'btn pull-left btn-primary'
      = submit_tag 'Skip', class: 'btn pull-right btn-warning'
%br
%table.table.table-striped.condensed.datatable{"id" => "data"}
  %thead
    %tr
      %th= "Request"
      %th
        %span= "Item"
        - match_query = MatchQuery.new(Match.all)
        - if match_query.part_of_set?(@match)
          - match_set = match_query.retrieve_set(@match)
          = "(" + t("item.set", ordinal_number: match_set[@match.item.id], total_number: match_set.count.to_s) + ")"
  %tbody
    %tr
      %td
        %ul
          - if !@match.request.title.blank?
            %li
              %b= "Title: "
              %span= @match.request.title
          - if !@match.request.author.blank?
            %li
              %b= "Author: "
              %span= @match.request.author
          - if !@match.request.article_title.blank?
            %li
              %b= "Article: "
              %span= @match.request.article_title
          - if !@match.request.description.blank?
            %li
              %b= "Description: "
              %span= @match.request.description
      %td
        %ul
          %li= @match.item.shelf ? @match.item.shelf.barcode : "No Shelf"
          %li= @match.item.tray ? @match.item.tray.barcode : "No Tray"
          %li= link_to @match.item.barcode, item_detail_path(@match.item.barcode)
          - if !@match.item.title.blank?
            %li= @match.item.title
          - if !@match.item.author.blank?
            %li= @match.item.author
          - if !@match.item.chron.blank?
            %li= @match.item.chron



