- if @batches.blank?
  = "No processed batches."
- else
  %table.table.table-striped.condensed.datatable{"id" => "batches"}
    %thead
      %tr
        %th= 'ID'
        %th= 'User'
        %th= 'Timestamp'
    %tbody
      - @batches.each do |batch|
        %tr
          %td= batch.id
          %td= batch.user.username
          %td= link_to batch.updated_at, view_single_processed_batch_path(:id => batch.id)
  :javascript
    $(document).ready(function() {
      window.table = $('#batches').DataTable( {
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
          "aButtons": [ "print" ]
        }
      } );
    } );
