- if @batch.requests.blank?
  = "Batch has no requests."
- else
  %table.table.table-striped.condensed.datatable{"id" => "requests"}
    %thead
      %tr
        %th= 'Title'
        %th= 'Author'
        %th= 'Source'
        %th= 'Type'
    %tbody
      - @batch.requests.each do |request|
        %tr
          %td= request.title
          %td= request.author
          %td= request.source
          %td= request.req_type
  :javascript
    $(document).ready(function() {
      window.table = $('#requests').DataTable( {
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
          "aButtons": [ {
                    "sExtends": "print",
                    "sTitle": "",
                    "sInfo": "",
                    "sMessage": "",
                    "fnComplete": function ( nButton, oConfig, oFlash, sFlash ) {
                        alert('Use Browser Print feature. When done, hit "esc" on your keyboard to return to IMS.');

                        $('.ui-dialog,.ui-widget-overlay').addClass('doNotPrint');
                    }
                } ]
        }
      } );
    } );
