= form_for @report do |f|
  - if @report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
      %ul
        - @report.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :fields
    = f.select :fields, options_from_collection_for_select(Report::FIELDS, 'first', 'last', @report.fields), { include_hidden: false }, { multiple: true }
  .field
    = f.label :start_date
    = f.date_select :start_date, { include_blank: true, default: nil, use_short_month: true }
  .field
    = f.label :end_date
    = f.date_select :end_date, { include_blank: true, default: nil, use_short_month: true }
  .field
    = f.label :activity
    = f.select :activity, options_from_collection_for_select(ActivityLog::ACTIONS, 'to_str', 'titleize', @report.activity), { include_hidden: false }
  .field
    = f.label :status
    = f.select :status, options_from_collection_for_select(Request::STATUSES, 'first', 'last', @report.status), { include_hidden: false, include_blank: true, default: nil }
  .actions
    = f.submit 'Save'
  :javascript
    $('#report_fields').multiSelect();
