%p#notice= notice

%p
  %b Name:
  = @report.name
%p
  %b Fields:
  = @report.fields
%p
  %b Start date:
  = @report.start_date
%p
  %b End date:
  = @report.end_date
%p
  %b Activity:
  = @report.activity
%p
  %b Status:
  = @report.status

= link_to 'Edit', edit_report_path(@report)
\|
= link_to 'Back', reports_path
